.converter {


    &__wrapper {
        max-width     : 1170px;
        min-width     : 1170px;
        margin        : 0 auto;
        padding-top   : 60px;
        padding-bottom: 100px;
    }

    &__title {
        font-family: $robo;
        font-weight: bold;
        font-size  : 41px;
        color      : #1F1E25;

    }

    &__form {
        @include flex;
        flex-wrap : wrap;
        margin-top: 70px;
    }

    &__got {
        flex-basis: 50%;
        @include flex;
        flex-wrap      : wrap;
        justify-content: flex-start;
        position       : relative;

        &::after {
            content          : '';
            position         : absolute;
            width            : 50px;
            height           : 19px;
            background-image : url("../img/right-arrow.svg");
            background-repeat: no-repeat;
            right            : -26px;
            bottom           : 9px;
        }

    }

    &__got-text {
        font-family  : $robo;
        font-weight  : 500;
        font-size    : 22px;
        color        : #1F1E25;
        width        : 100%;
        margin-bottom: 30px
    }

    &__input {
        @extend %btn;
        margin-right: 15px;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin            : 0;
        }
    }

    &__cal-img {
        background-image : url("../img/calendar.svg");
        width            : 44px;
        height           : 44px;
        background-repeat: no-repeat;
        background-color : white;
        pointer-events   : none;
        margin-left      : -65px
    }

    &__select {
        @extend %btn;
        width       : 120px;
        appearance  : none;
        padding-left: 25px;
    }

    &__option {}

    &__check-box-got {
        background-image : url("../img/arrow-down.svg");
        background-repeat: no-repeat;
        width            : 21px;
        height           : 11px;
        margin-left      : -27px;
        pointer-events   : none;
    }

    &__check-box-get {
        background-image : url("../img/arrow-down.svg");
        background-repeat: no-repeat;
        width            : 21px;
        height           : 11px;
        margin-left      : -35px;
        pointer-events   : none;
    }

    &__get {
        flex-basis: 50%;
        @include flex;
        flex-wrap   : wrap;
        padding-left: 58px;
        position    : relative;

        &::before {
            content          : '';
            position         : absolute;
            width            : 50px;
            height           : 19px;
            background-image : url("../img/left-arrow.svg");
            background-repeat: no-repeat;
            left             : -26px;
            bottom           : 26px;
        }
    }

    &__date {
        @include flex;
        width     : 100%;
        margin-top: 85px
    }

    &__date-input-container {
        @include flex;
        width : 382px;
        height: 60px;
    }

    &__btn {
        @extend %btn;
        background    : #2C36F2;
        width         : 382px;
        height        : 60px;
        font-family   : $robo;
        font-style    : normal;
        font-weight   : 500;
        font-size     : 18px;
        color         : #F6F7FF;
        text-transform: none;
        border        : none;
    }
}