@font-face {
    font-family : 'Work-Sans';
    font-display: swap;
    src         : url('../fonts/Worksansbold.woff') format('woff');
    src         : url('../fonts/Worksansbold.woff2') format('woff2');
}

@font-face {
    font-family : 'Roboto-Regular';
    font-display: swap;
    src         : url('../fonts/Roboto-Regular.woff') format('woff');
    src         : url('../fonts/Roboto-Regular.woff2') format('woff2');
}