.footer {
    background: #F6F7FF;
    margin-top: 110px;

    &__wrapper {
        @include flex;
        justify-content: flex-start;
        align-items    : flex-start;
        padding-top    : 60px;
        padding-bottom : 60px;
        max-width      : 1170px;
        margin         : 0 auto;
    }

    &__logo {
        max-width: 252px;
        @include flex;
        justify-content: flex-start;
        flex-wrap      : wrap;
    }

    &__img {}

    &__title {
        margin-left: 9px;
        font-family: $work;
        font-weight: bold;
        font-size  : 20px;
    }

    &__title-about {
        font-family: $robo;
        font-size  : 12px;
        color      : #707C87;
        margin-top : 20px;
        line-height: 140%;
    }

    &__list {
        margin-left: 81px;
    }

    &__item {
        font-family  : $robo;
        font-weight  : 500;
        font-size    : 16px;
        color        : #1F1E25;
        margin-bottom: 20px;

        &:nth-child(4) {
            margin-bottom: 0px;
        }
    }

    &__short-call {
        max-width  : 167px;
        margin-left: 81px;
    }

    &__short-number {
        font-family: $robo;
        font-weight: 500;
        font-size  : 16px;
        color      : #1F1E25;
        position   : relative;

        &::before {
            content          : '';
            position         : absolute;
            background       : url("../img/short-call.svg");
            background-repeat: no-repeat;
            width            : 16px;
            height           : 16px;
            left             : -22px;
            top              : 2px;
        }
    }

    &__short-call-info {
        font-family: $robo;
        font-size  : 12px;
        color      : #707C87;
        margin-top : 10px;
        line-height: 140%;
    }

    &__free-call {
        font-family: $robo;
        font-weight: 500;
        font-size  : 16px;
        color      : #1F1E25;
        max-width  : 122px;
        margin-left: 113px;
    }

    &__free-number {
        font-family: $robo;
        font-weight: 500;
        font-size  : 16px;
        color      : #1F1E25;
        position   : relative;

        &::before {
            content          : '';
            position         : absolute;
            background       : url("../img/free-call.svg");
            background-repeat: no-repeat;
            width            : 16px;
            height           : 16px;
            left             : -28px;
            top              : 2px;
        }
    }

    &__free-call-info {
        font-family: $robo;
        font-size  : 12px;
        color      : #707C87;
        margin-top : 10px;
        line-height: 140%;
    }

    &__media-links {
        @include flex;
        justify-content: flex-start;
        margin-left    : 86px;
    }

    &__item-media {
        margin-left: 30px;
    }

    &__list-link {
        color: #1F1E25;
    }

    &__fb {
        position: relative;

        &::before {
            content          : '';
            position         : absolute;
            background       : url("../img/fb.svg");
            background-repeat: no-repeat;
            width            : 16px;
            height           : 16px;
            right            : 0px;
            top              : 0px;
        }
    }

    &__insta {
        position: relative;

        &::before {
            content          : '';
            position         : absolute;
            background       : url("../img/insta.svg");
            background-repeat: no-repeat;
            width            : 16px;
            height           : 16px;
            right            : 0px;
            top              : 0px;
        }
    }

    &__twitter {
        position: relative;

        &::before {
            content          : '';
            position         : absolute;
            background       : url("../img/twitter.svg");
            background-repeat: no-repeat;
            width            : 16px;
            height           : 16px;
            right            : 0px;
            top              : 0px;
        }
    }

    &__youtube {
        position: relative;

        &::before {
            content          : '';
            position         : absolute;
            background       : url("../img/youtube.svg");
            background-repeat: no-repeat;
            width            : 16px;
            height           : 16px;
            right            : 0px;
            top              : 0px;
        }
    }
}