.header {


    &__inner {
        @include flex;
        padding-top   : 38px;
        padding-bottom: 39px;
        margin        : 0 auto;
        max-width     : 1170px;
        min-width     : 1170px;
        align-items   : flex-end;
    }

    &__logo-container {
        @include flex;
        align-items: flex-end;
    }

    &__img {}

    &__logo-text {
        margin-left: 9px;
        font-family: $work;
        font-weight: bold;
        font-size  : 20px;
    }

    &__nav {
        @include flex;
    }

    &__nav-item {
        margin-left: 25px;
    }

    &__link {
        font-family: $robo;
        font-size  : 16px;
        color      : #1F1E25;
    }

    &__link--active {
        color: #2C36F2;
    }

    &__link--login {
        margin-left: 155px;
        position   : relative;

        &::before {
            content          : '';
            position         : absolute;
            width            : 20px;
            height           : 22px;
            background-image : url("../img/login.svg");
            background-repeat: no-repeat;
            left             : -28px;
            bottom           : -2px;
        }
    }
}